/* mobile */
@media (max-width: 480px) {
    :root{
        --cor-azul:#2A7AE4;
    }
    
    body,html, .all{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .all{
        overflow-y: scroll;
    }
    
    /* MENU */
    header{
        width: 30%;
        height: 40%;
        display: flex;
    }
    .menu{
        display: flex;
        height: 7%;
        align-items: center;
        justify-content: space-evenly;
    }
    .vector{
        padding-left: 0;
    }
    .alura {
        color: var(--cor-azul);
        margin-left: 5%;
    }
    .titulo {
        margin: 0;
        font-family: 'Raleway';
        font-size: 1rem;
        display: inline-block;
    }
    .input{
        outline: none;
        background-color: #F5F5F5;
        background-image: url(img/lupa-de-pesquisa.png);
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
        width: 55%;
        height: 40%;
        border: none;
        border-radius: 20px;
        padding-left: 4%;
    }
    
    
    /* Login */
    .botaoEntrar{
        height: 15%;
        background-color: var(--cor-azul);
        border: none;
        color: #ffffff;
    }
    .login{
        background-color: #E5E5E5E5;
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .loginIniciarSessao{
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .loginInput{
        outline: none;
        height: 14%;
        margin-bottom: 1rem;
        border: none;
        padding-left: 1rem;
        color: #464646;
        font-family: 'Raleway';
        font-weight: 400;
    }
    .loginTitulo{
        text-align: center;
        font-size: 1em;
        margin: 0;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        font-family: 'Raleway';
        font-weight: 700;
    }
    
    /* CONTATO */
    
    .contato{
        width: 100%;
        height: 60%;
        background-color: rgb(183, 179, 179);
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .contatoInputs{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 40%;
        justify-content: space-around;
    }
    
    .contatoLogETopicos{
        width: 100%;
        height: 53%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
    }
    .contatoLog {
        display: flex;
        align-items: center;
        height: 10%;
        width: 50%;
    }
    .vectorContato{
        width: 18%;
        height: 100%;
    }
    
    .topicos {
        width: 50%;
        height: 70%;
        text-align: center;
        line-height: 1.5rem;
    }
    .aluraContato {
        font-size: 1.5rem;
    }
    .subtituloContato{
        margin-left: 20px;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 2rem;
    }
    .inputNome{
        outline: none;
        width: 80%;
        height: 15%;
        border: none;
        margin-left: 20px;
    }
    
    .inputEscrevaSuaMensagem{
        outline: none;
        width: 80%;
        height: 30%;
        border: none;
        margin-left: 20px;
    }
    .botaoEnviarMensagem{
        width: 35%;
        height: 20%;
        background-color: var(--cor-azul);
        color: #ffffff;
        border: none;
        margin-left: 20px;
    } 
    /* section rodape */
    .rodapeCompleto{
        width: 100%;
        height: 5%;
        text-align: center;
        font-family: 'Raleway';
        font-weight: 500;
        color: #464646 ;
        margin: 0;
    }
    .nomeAutor{
        margin: 0;
        padding-top: 1rem;
    }
    .ano{
        margin: 0;
    }
}






/* Tablet */
@media (min-width: 480px) and (max-width: 768px){
    header{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .menu{
        width: 100%;
        height: 10vh;
    }
    .vector{
        width: 4%;
        height: 4vh;
        padding-left: 1.5rem;
    }
    .titulo{
        width: 10%;
        font-size: 16px;
    }
    .input{
        width: 30%;
        height: 2rem;
        margin-left: 2rem;
        background-size: 15px;
        font-size: 12px;
    }

/* section iniciarLogin */
    .loginIniciarSessao{
        width: 50%;
        height: 45vh;
        display: flex;
        flex-direction: column;
    }
    .loginTitulo{
        font-size: 16px;
        margin: 0;
        margin-top: 3rem;
        margin-bottom: 0.5rem;
    }
    .login{
        width: 100%;
        height: 48vh;
    }
    .loginInput{
        width: 93%;
        height: 2.5rem;
    }
    .botaoEntrar{
        width: 35%;
        margin-left: 6rem;
    }


/* section contato */
    .contato{
        width: 100%;
        height: 55vh;
        display: flex;
        flex-direction: row;
    }
    .contatoLogETopicos{
        width: 40%;
    }
    .aluraContato{
        padding-top: 8%;
        font-size: 1.2rem;
    }
    .rodapeCompleto{
        width: 100%;
        height: 12vh;
    } 
    .topicos{
        width: 77%;
        color: #464646;
        font-size: 1rem;
        padding-left: 10%;
        display: flex;
        flex-direction: column;
        line-height: 2.3rem;
    }
    .vectorContato{
        height: 4vh;
    }
    .contatoInputs{
        height: 45vh;
    }
    .subtituloContato{
       margin-top: 0;
    }
    .inputNome{
        width: 90%;
        height: 2.5rem;
    }
    .inputEscrevaSuaMensagem{
        width: 90%;
        height: 3.5rem;
    }
    .botaoEnviarMensagem{
        width: 40%;
        height: 7vh;
    }
}