/* mobile */
@media (max-width: 480px) {
    :root{
        --cor-azul:#2A7AE4;
    }
    
    body,html, .all{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .all{
        overflow-y: scroll;
    }
    
    /* MENU */
    header{
        width: 30%;
        height: 40%;
        display: flex;
    }
    .menu{
        display: flex;
        height: 7%;
        align-items: center;
        justify-content: space-around;
    }
    .menu header{
        width: 28%;
    }
    .menu .input {
        width: 36%;
        font-size: 10px;
        background-size: 9%;
    }
    .menu .titulo{
        font-size: 17px;
    }
    .menu .botaoLogin{
        margin-left: 0;
        width: 15%;
    }
    .menuProdutos header{
        width: 50%;
        display: flex;
        align-items: center;
    }
    .menuProdutos .titulo{
        font-size: 20px;
    }
    .menuProdutos .input{
        width: 65%;
        height: 35%;
    }
    .menuProdutos .vector{
        width: 23%;
        height: 79%;
    }
    .vector{
        padding-left: 0;
    }
    .vectorAdicionar{
        width: 20%;
        height: 30%;
    }
    .alura {
        color: var(--cor-azul);
        margin-left: 2%;
    }
    .adicionarProduto{
        width: 90%;
    }
    .titulo {
        margin: 0;
        font-family: 'Raleway';
        font-size: 18px;
        display: inline-block;
    }
    .cabecalhoProdutosAdicionar .input{
        display: none;
    }
    .cabecalhoProdutosAdicionar{
        width: 40%;
    }
    .input{
        outline: none;
        background-color: #F5F5F5;
        background-image: url(img/lupa-de-pesquisa.png);
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
        width: 50%;
        height: 40%;
        border: none;
        border-radius: 20px;
        padding-left: 4%;
    }
    .paginaProdutos{
        width: 100%;
        height: auto;
    }
    .produtosTitulo{
        font-size: 20px;
    }
    .todosProdutos{
        flex-direction: column;
    }
    .todasSecoesProdutos .produtoXYZ{
        width: 48%;
        height: 50%;
    }
    
    /* Login */
    .botaoEntrar{
        height: 15%;
        background-color: var(--cor-azul);
        border: none;
        color: #ffffff;
    }
    .login{
        background-color: #E5E5E5E5;
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .loginIniciarSessao{
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .loginInput{
        outline: none;
        height: 14%;
        margin-bottom: 1rem;
        border: none;
        padding-left: 1rem;
        color: #464646;
        font-family: 'Raleway';
        font-weight: 400;
    }
    .loginTitulo{
        text-align: center;
        font-size: 1em;
        margin: 0;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        font-family: 'Raleway';
        font-weight: 700;
    }
    .banner{
        width: 100%;
        height: 32%;
        background-image: url(img/Hero.png);
        background-size: 100% 100%;
    }
    .legendaPromocional{
        padding-left: 2.5rem;
    }
    .tituloImagem{
        font-size: 26px;
    }
    .subtitulo{
        font-size: 1rem;
    }
    .botaoConsole{
        width: 40%;
        height: 20%;
        font-size: 16px;
    }
    
    /* CONTATO */
    
    .contato{
        width: 100%;
        height: 55%;
        background-color: rgb(183, 179, 179);
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .contatoInputs{
        display: flex;
        flex-direction: column;
        width: 98%;
        height: 65%;
        justify-content: space-around;
    }
    
    .contatoLogETopicos{
        width: 100%;
        height: 53%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
    }
    .contatoLog {
        display: flex;
        align-items: center;
        height: 10%;
        width: 50%;
    }
    .vectorContato{
        width: 17%;
        height: 55%;
    }
    
    .topicos {
        width: 50%;
        height: 70%;
        text-align: center;
        line-height: 1.7rem;
    }
    .aluraContato {
        font-size: 22px;
    }
    .subtituloContato{
        margin-left: 20px;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 2rem;
    }
    .inputNome{
        outline: none;
        width: 80%;
        height: 15%;
        border: none;
        margin-left: 20px;
    }
    
    .inputEscrevaSuaMensagem{
        outline: none;
        width: 80%;
        height: 30%;
        border: none;
        margin-left: 20px;
    }
    .botaoEnviarMensagem{
        width: 35%;
        height: 20%;
        background-color: var(--cor-azul);
        color: #ffffff;
        border: none;
        margin-left: 20px;
    } 
    /* section rodape */
    .rodapeCompleto{
        width: 100%;
        height: 5%;
        text-align: center;
        font-family: 'Raleway';
        font-weight: 500;
        color: #464646 ;
        margin: 0;
    }
    .nomeAutor{
        margin: 0;
        padding-top: 1rem;
    }
    .ano{
        margin: 0;
    }
    /* section Adicionar produto */
    .botaoAdministrador{
        width: 44%;
        height: 60%;
        font-size: 16px;
    }
    .botaoAdicionarProduto{
        width: 50%;
        margin: 8px 0;
    }
}






/* Tablet */
@media (min-width: 480px) and (max-width:1023px) {
    header{
        width: 35%;
        height: 40%;
        display: flex;
        align-items: center;
    }
    .menu{
        display: flex;
        height: 7%;
        align-items: center;
        justify-content: start;
        padding-left: 7%;
    }
    .menuProdutos .input{
        height: 35%;
        font-size: 18px;
    }
    .menuProdutos .titulo{
        font-size: 35px;
    }
    .vector{
        padding-left: 0;
        width: 18%;
        height: 100%;
    }
    .vectorContato{
        width: 10%;
        height: 55%;
        padding-top: 0;
    }
    .titulo{
        width: 35%;
        font-size: 22px;
    }
    .input{
        width: 40%;
        height: 50%;
    }
    .cabecalhoProdutosAdicionar .input{
        width: 60%;
        height: 35%;
    }
    .paginaProdutos{
        width: 100%;
        height: auto;
    }
    .todasSecoesProdutos .produtoXYZ{
        width: 24%;
        height: 50%;
        margin-right: 6px;
    }
    .todasSecoesProdutos .produtos{
        justify-content: flex-start;
    }

/* section iniciarLogin */
    .loginIniciarSessao{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .loginTitulo{
        font-size: 25px;
        margin: 0;
        margin-top: 3rem;
        margin-bottom: 0.5rem;
    }
    .login{
        width: 100%;
        height: 40%;
    }
    .loginInput{
        width: 93%;
        height: 18%;
    }
    .botaoEntrar{
        width: 35%;
        margin-left: 29%;
        font-size: 17px;
    }
    .botaoAdicionarProduto{
        width: 25%;
        height: 45px;
    }

/* section contato */
    .contato{
        width: 100%;
        height: 65%;
        display: flex;
        flex-direction: column;
        
    }
    .contatoLogETopicos{
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .contatoLog{
        display: flex;
        align-items: center;
        height: 15%;
        width: 60%;
        margin-top: 1rem;
        padding-left: 12rem;
    }
    .aluraContato{
        padding-top: 0;
        font-size: 30px;
    }
    .adicionar{
        height: 65%;
    }
    .adicionarProduto{
        width: 90%;
    }
    .rodapeCompleto{
        width: 100%;
        height: 8%;
    } 
    .topicos{
        width: 45%;
        color: #464646;
        font-size: 22px;
        padding-left: 10%;
        display: flex;
        flex-direction: column;
        line-height: 2.5rem;
    }
    .contatoInputs{
        height: 75%;
    }
    .subtituloContato{
       margin-top: 0;
       font-size: 25px;
    }
    .inputNome{
        width: 90%;
        height: 17%;
    }
    .inputEscrevaSuaMensagem{
        width: 90%;
        height: 25%;
    }
    .botaoEnviarMensagem{
        width: 52%;
        height: 17%;
        font-size: 17px;
    }
    .botaoAdministrador{
        width: 20%;
        height: 53%;
    }
    .botaoPaginaAdicionarProduto{
        height: 8%;
        font-size: 20px;
    }
    .bloco-input, .bloco-textearea{
        font-size: 22px;
    }
}
